<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.sharding.dao.OrderMapper">

	<resultMap id="resultMap" type="com.test.sharding.entity.OrderVO">
		<result property="orderId" column="o.order_id"/>
		<result property="userId" column="o.user_id"/>
		<result property="orderName" column="o.order_name"/>
		<collection property="orderItemList" ofType="com.test.sharding.entity.OrderItem" autoMapping="false">
			<id property="itemId" column="i.item_id"/>
			<result property="orderId" column="i.order_id"/>
			<result property="itemName" column="i.item_name"/>
		</collection>
	</resultMap>

	<insert id="insertOrder" >
		insert into t_order(user_id, order_name)
		values(#{userId}, #{orderName})
	</insert>

	<select id="listOrder" resultType="com.test.sharding.entity.Order">
		select
		t_order.order_id as orderId,
		t_order.user_id as userId,
		t_order.order_name as orderName
		from t_order
		order by t_order.order_id desc
		limit #{offset}, #{size}
	</select>

	<select id="getOrderById" resultType="com.test.sharding.entity.Order">
		select
		o.order_id,
		o.user_id,
		o.order_name
		from t_order o
		join t_order_item i on o.order_id = i.order_id
		where o.order_id = #{orderId}
	</select>


</mapper>